<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}">
    <title>Star Hortons</title>
</head>
<body>
<div th:replace="~{layout :: body}">
    <main th:fragment="content" class="pt-[136px] sm:pt-[96px] px-4 pb-4 mx-auto min-h-screen">
        <div th:if="${orders.isEmpty()}" class="text-center py-8">
            <h2 class="text-xl text-gray-700">You have no orders! <a th:href="@{/shop}" class="text-blue-500 hover:text-blue-800">Shop Now</a></h2>
        </div>
        <div th:if="${!orders.isEmpty()}">
            <div th:each="order : ${orders}" class="bg-white shadow overflow-hidden sm:rounded-lg my-4">
                <div class="px-4 py-5 sm:px-6">
                    <h2 class="text-xl leading-6 font-medium text-gray-900">Order ID: <span
                            th:text="${order.id}"></span></h2>
                    <p class="mt-1 max-w-2xl text-sm text-gray-500">Date: <span
                            th:text="${order.orderDate.toString}"></span></p>
                    <p class="mt-1 max-w-2xl text-sm text-gray-500">Total Amount: <span
                            th:text="${order.totalAmount}"></span></p>
                    <p class="mt-1 max-w-2xl text-sm text-gray-500">Status:<span
                            th:text="${order.status}"></span></p>
                </div>
                <div class="border-t border-gray-200">
                    <dl>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">Items:</dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
                                    <li th:each="item : ${order.items}"
                                        class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                                        <div class="w-0 flex-1 flex items-center">
                                            <span class="ml-2 flex-1 w-0 truncate"
                                                  th:text="${item.product.name}"></span>
                                            <span class="ml-2 flex-1 w-0 truncate" th:text="${item.quantity}"></span>
                                            <span class="ml-2 flex-1 w-0 truncate"
                                                  th:text="${item.product.price}"></span>
                                        </div>
                                    </li>
                                </ul>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>