<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}">
    <title>Star Hortons</title>
</head>
<body>
<div th:replace="~{layout :: body}">
    <main th:fragment="content" class="pt-[136px] sm:pt-[96px] px-4 pb-4 mx-auto min-h-screen">
        <div class="mx-auto flex flex-row gap-2 justify-center flex-wrap">
            <div th:each="product : ${products}" class="w-72 rounded overflow-hidden shadow flex flex-col justify-start">
                <img class="w-full h-36 object-cover" th:src="${product.image}" alt="product image">
                <div class="px-6 py-4 flex-1">
                    <div class="font-bold text-xl text-center" th:text="${product.name}"></div>
                    <p class="text-gray-700 text-base" th:text="${product.description}">
                    </p>
                </div>
                <div class="px-6 py-4 mb-2 flex justify-between items-end">
                    <form th:action="@{/cart/add}" method="post">
                        <input type="hidden" name="productId" th:value="${product.id}">
                        <input type="hidden" name="callback" value="redirect:/shop">
                        <button type="submit"
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold text-sm px-3 py-1 rounded-full">
                            Add to Cart
                        </button>
                    </form>
                    <div class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700"
                         th:text="${'$' + product.price}"></div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>